<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>todo form</title>
</head>
<body>
  <form action="#" th:action="@{/todo}" th:object="${todo}" method="post" id="todoform">
    <table>
      <tr><td>id:</td><td><input type='text' th:field="*{id}" id="id"/></td></tr>
      <tr><td>task:</td><td><input type='text' th:field="*{task}" id="task"/></td></tr>
      <tr><td><input type="submit" class="button" value="OK"/></td><td></td></tr>
    </table>
  </form>
</body>
</html>

